table {
    border-collapse: collapse;
}

td {
    border: solid 1px;
}

th {
    background-color: green;
    border: solid 1px;
}

tr:nth-child(even) {
    background-color: gray;
}

#courseOverview{
    text-align: center
}
